
.gallery-container{
    display:flex;
}
    
/* Filters */
.filter-container{
    display:flex;
    justify-content: space-around;
    align-content:center;
    flex-wrap:wrap;
    gap:10px;
}
.filter-button{
    font-size: 18px;
    border: 1px solid rgb(128,128,128,0.2);
    border-radius: 1000px;
    text-align: center;
    color: grey;
    padding: 4px 10px 4px 10px
}
.filter-button:hover{
    color: grey;
    background-color: var(--bc-navbar-primary);
    transition: transform 0.2s ease;
    transform: scale(1.1);
}
.filter-button.active,.filter-button:focus,.filter-button:active{
    background-color: var(--bc-navbar-primary)  !important;
    color:grey  !important;
    font-weight: bold  !important;
    border:none  !important;
    transform: scale(1.1)  !important;
}
/* Carousel */
.carousel .slider-wrapper{
    height:400px
}
.carousel.carousel-slider .control-arrow:hover{
    background:none;
}
.custom-arrow {
    position: absolute;
    top: 50%;
    z-index: 10; /* Ensure it's above carousel content */
    cursor: pointer;
    opacity:0.5;
    font-weight: bolder;
    font-size:x-large;
    color:#555555;
    transition: transform 0.1s ease;
}
    .custom-arrow:hover{
        opacity: 1;
        transform: scale(2);
    }
.custom-arrow-next{
    right: 20px; /* Adjust as needed */
}
.custom-arrow-prev{
    left: 20px; /* Adjust as needed */
}
/* media */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
    .gallery-container{
        flex-direction: column;
    }
        .gallery-container .col-6{
            width:100% !important
        }
    .filter-button.active,.filter-button:focus,.filter-button:active{
        transform: scale(1)  !important;
    }
    .carousel .slider-wrapper{
        height:300px
    }
  }